<template>
  <MenuComponent />
  <b-container>
    <h1 class="mt-5">Edificios por limpiar</h1>
    <b-row>
      <b-col v-for="b in buildings.data" v-bind:key="b.id">
        <div class="mb-2 card mx-auto " style="width: 18rem">
          <b-card border-variant="primary" text-variant="muted" v-bind:img-src="require('../assets/edificio.jpg')"
            class="shadow-lg bg-white">
            <h5><b-badge variant="secondary">{{ b.name }}</b-badge></h5>
            <b-button :to="{ name: 'rooms', params: { id: b.id } }" variant="primary">Habitaciones</b-button>
          </b-card>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import MenuComponent from '@/components/MenuComponent.vue';
export default {
  name: "BuildingsView",
  components: { MenuComponent },
  data() {
    return {
      buildings: []
    };
  },
  methods: {
    getBuildings() {
      const response = fetch('http://127.0.0.1:8000/api/build/getBuildByUser', {
        method: 'GET',
        headers: {
          'Content-Type': 'application/json',
          'Authorization': 'Bearer ' + localStorage.getItem('access_token'),
        },

      }).then((data) => {
        return data.json()
      })
        .then((data) => this.buildings = data)
        .catch((e) => {
          console.error(e);
        })
      response.then((jsonData) => {
        console.log(jsonData);
      })
    }
  },
  mounted() {
    this.getBuildings();
  }
}
</script>