<template>
    <nav class="navbar fixed-top" style="background-color: #637CFF;">
        <div class="container-fluid">
            <b-img thumbnail fluid :src="require('../assets/iconoCR.jpeg')" width="80px" height="80px"></b-img>
            <router-link to="/login" class="btn btn-outline-ligth" style="background-color:white ;">Iniciar Sesión
            </router-link>
        </div>
    </nav>
    <div class="container mt-5">
        <div class="pt-4">
            <b-card img-top text-variant="muted" v-bind:img-src="require('../assets/home.png')"
                class="shadow-lg bg-white">
                <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, vel aliquam. Aliquid dolores suscipit
                    quae
                    quaerat ullam culpa magnam ea deleniti consequatur hic aperiam, odit iusto. Quaerat facere quia
                    rerum.</h5>
            </b-card>
        </div>
    </div>

</template>

<script>
export default {
    name: "HomeView2"
}
</script>
