<template>
  <b-row class="justify-content-center">
    <b-col style="max-width: 25rem">

      <b-card border-variant="primary" text-variant="primary" class="mt-5 shadow-lg bg-white">
        <b-form @submit="onSubmit">
          <div>
            <b-card-img :src="require('../assets/iconoCR.jpeg')"></b-card-img>
            <!-- <h4 class="pt-2" style="color: black">Bienvenido</h4> -->
            <h4 class="pt-2" style=" font-weight: bold">Bienvenido</h4>

          </div>
          <b-form-group style="text-align: left" label="Usuario:" label-for="email">
            <b-form-input id="email" placeholder="Ingresar usuario" type="email" v-model="form.email" required>
            </b-form-input>
          </b-form-group>

          <b-form-group style="text-align: left" label="Contraseña:" label-for="password">
            <b-form-input id="password" placeholder="Ingresar contraseña" type="password" v-model="form.password"
              required>
            </b-form-input>
          </b-form-group>

          <div>
            <b-button type="submit" variant="primary">Iniciar sesión</b-button>
          </div>

        </b-form>
      </b-card>
    </b-col>
  </b-row>
</template>

<script>
import router from '@/router';

export default {
  name: "LoginView",
  data() {
    return {
      form: {
        email: '',
        password: '',
      },
    }
  },
  methods: {
    onSubmit() {
      const response = fetch('http://127.0.0.1:8000/api/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({
          "email": this.form.email,
          "password": this.form.password
        })
      }).then((data) => {
        return data.json()
      }).catch((e) => {
        console.error('Hola' + e);
      })

      response.then((jsonData) => {
        if (jsonData.access_token) {
          localStorage.setItem("access_token", jsonData.access_token)
          router.push('/allRooms')
        } else {
          this.$toast.error('Usuario y/o contraseña incorrectos',
            {
              position: "top",
              max: 1
            })
        }
      }).catch((e) => {
        console.log(e);
      })
    }
  },
  beforeMount() {
    if (localStorage.getItem('access_token') != null) {
      router.push('/allRooms')
    }
  }
};
</script>