<template>
    <MenuComponent />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <div class="container pt-5">
        <h2 style="text-align: left"><b>Habitación:</b> {{ room.number }}</h2>
        <h2 style="text-align: left"><b>Piso:</b> {{ room.floor }}</h2>
        <h2 style="text-align: left"><b>Estado:</b> {{ room.state }}</h2>
        <div style="text-align: center" class="mt-5">
            <h5>Selecciona el estado de la Habitación:</h5>
            <b-button variant="primary" @click="changeState('Limpia')" class="pr-2">Limpia</b-button>
            <b-button variant="warning" style="margin-left: 10px" @click="changeState('Bloqueada')">Bloqueada</b-button>


        </div>
        <div class="container pt-3">
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label for="textObs" class="form-label"><b>Agregar observación</b></label>
                                        <textarea class="form-control" id="textObs" v-model="form.text"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-start">


                                    <i class="fa-solid fa-camera" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                        @click="camera"></i>


                                </div>
                                <div class="col text-end">
                                    <button class="btn btn-sm btn-success" @click="putObservation">Guardar</button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <b-row>
                <b-col>
                    <b-card class="mt-5 mx-auto" v-for="obs in room.observations" v-bind:key="obs.id">
                        <b-card-text>
                            {{ obs.text }}
                        </b-card-text>

                        <b-card id="image">
                            <img :src="obs.evidencies" />
                        </b-card>
                    </b-card>
                </b-col>
            </b-row>
        </div>
    </div>
    <div class="col-12 text-center" id="itemPhoto"></div>


    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Evidencia</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-12 text-center">
                            <video id="video" class="img-thumbnail" autoplay style="height: 350px; width: 90%"></video>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @click="camera">Tomar de nuevo</button>
                    <button type="submit" id="btnMakePhoto" class="btn btn-primary">Capturar</button>
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Guardar</button>


                </div>
            </div>
        </div>
    </div>



</template>

<script>

let picture = "";
class Camera {
    constructor(videoNode) {
        this.videoNode = videoNode;
    }

    power() {
        navigator.mediaDevices
            .getUserMedia({
                audio: false,
                video: {
                    width: 300,
                    heigt: 300,
                },
            })
            .then((stream) => {
                this.videoNode.srcObject = stream;
                this.stream = stream;
            });
    }

    off() {
        this.videoNode.pause();
        if (this.stream) {
            this.stream.getTracks()[0].stop();
        }
    }

    takePhoto() {
        let canvas = document.createElement("canvas");
        canvas.setAttribute("width", 300);
        canvas.setAttribute("height", 300);

        let context = canvas.getContext("2d");
        context.drawImage(this.videoNode, 0, 0, canvas.width, canvas.height);

        this.photo = context.canvas.toDataURL();
        canvas = null;
        context = null;

        return this.photo;
    }
}

import MenuComponent from "@/components/MenuComponent.vue";
export default {
    name: "ObservationsView",
    components: { MenuComponent },
    data() {
        return {
            data: [],
            room: {
                number: 0,
                floor: 0,
                state: "",
                observations: []
            },
            form: {
                text: '',
            },
        };
    },
    methods: {
        getData() {
            const response = fetch(
                `http://127.0.0.1:8000/api/room/show/${this.$route.params.id}`,
                {
                    method: "GET",
                    headers: {
                        "Content-Type": "application/json",
                    },
                }
            )
                .then((data) => {
                    return data.json();
                })
                .then((data) => (this.data = data))
                .catch((e) => {
                    console.error(e);
                });
            response.then((jsonData) => {
                console.log(jsonData.data);
                this.room.number = jsonData.data.number;
                this.room.floor = jsonData.data.floor;
                this.room.state = jsonData.data.state;
                this.room.observations = jsonData.data.observations;
            });
        },
        changeState(state) {

            if (state == "Bloqueada" && this.room.observations.length === 0) {
                this.$toast.error('Se necesitan observaciones para bloquear la habitación',
                    {
                        position: "top",
                        max: 1
                    })
            } else if (state == "Bloqueada" || state == "Limpia") {
                const response = fetch(
                    `http://127.0.0.1:8000/api/room/changeStatus/${this.$route.params.id}`,
                    {
                        method: "PUT",
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            "state": state
                        })
                    }
                ).then((data) => {
                    return data.json();
                }).catch((e) => {
                    console.error('Hola ' + e);
                })

                response.then((jsonData) => {
                    console.log('Hola ' + jsonData.data);
                    this.room.number = jsonData.data.number;
                    this.room.floor = jsonData.data.floor;
                    this.room.state = jsonData.data.state;
                    this.room.observations = jsonData.data.observations;
                    this.$toast.success('El estado de la habitación ha sido cambiado',
                        {
                            position: "top",
                            max: 1
                        })
                }).catch((e) => {
                    console.log(e);
                })
            }

            this.getData();
        },
        putObservation() {
            const video = document.getElementById("video");
            const camera = new Camera(video);
            const response = fetch(
                `http://127.0.0.1:8000/api/observation/store`,
                {
                    method: "POST",
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        "text": this.form.text,
                        "evidencies": picture.toString(),
                        "room_id": this.$route.params.id,
                    })

                }

            ).then((data) => {

                if (this.form.text == "") {
                    this.$toast.error('Error al guardar, se necesita descripción',
                        {
                            position: "top",
                            max: 1
                        })
                }
                if (picture.toString() == "") {
                    this.$toast.error('Error al guardar, se necesita fotografía',
                        {
                            position: "top",
                            max: 1
                        })
                }
                return data.json();
            }).catch((e) => {
                console.error('Hola ' + e);
            })

            response.then((jsonData) => {
                this.$toast.success('Observación creada ' + jsonData.data.text,
                    {
                        position: "top",
                        max: 1
                    })
                this.getData()
            }).catch((e) => {
                console.log(e);
            })

            var textObs = document.getElementById("textObs");
            textObs.value = ""
            camera.power();

        },
        camera() {
            const btnMakePhoto = document.getElementById("btnMakePhoto");

            const video = document.getElementById("video");

            const itemPhoto = document.getElementById("itemPhoto");

            let pictures = [];

            const camera = new Camera(video);

            console.log("Abriendo camara");
            camera.power();

            btnMakePhoto.addEventListener("click", () => {
                console.log("Tomando foto");
                picture = camera.takePhoto();

                picture = picture.toString();
                console.log();

                pictures.push(picture);

                itemPhoto.innerHTML += `
<div class="carousel-item">
<img  src="${pictures[pictures.length - 1]}" class="d-block w-100" alt="...">
</div>
`;
                //console.log(picture);
                camera.off();

            });
        },
    },
    mounted() {
        this.getData();
    },
};
</script>