<template>
  <MenuComponent />
  <div class="container p-4">
    <h1>Habitaciones por Edificio</h1>
    <b-row>
      <b-col v-for="r in rooms.data" v-bind:key="r.id">
        <div class="mb-2 card mx-auto " style="width: 18rem">
          <b-card border-variant="primary" text-variant="muted" v-bind:img-src="require('../assets/habitacion.png')"
            class="shadow-lg bg-white">
            <h5><b-badge variant="secondary">{{ r.number }}</b-badge></h5>
            <b-card-body>
              <b-list-group flush>
                <b-list-group-item><b>Tipo:</b> {{ r.type }}</b-list-group-item>
                <b-list-group-item><b>Piso:</b> {{ r.floor }}</b-list-group-item>
                <b-list-group-item><b>Estado:</b> <b-badge :variant="r.state == 'Limpia' ? 'success' : 'warning'">{{
                    r.state
                }}</b-badge></b-list-group-item>

              </b-list-group>
            </b-card-body>
            <b-button :to="{ name: 'room', params: { id: r.id } }" variant="primary">Seleccionar</b-button>
          </b-card>
        </div>
      </b-col>
    </b-row>

  </div>
</template>

<script>
import MenuComponent from "@/components/MenuComponent.vue";
export default {
  name: "RoomsView",
  components: { MenuComponent },
  data() {
    return {
      rooms: [],
    };
  },
  methods: {
    getRooms() {
      const response = fetch(`http://127.0.0.1:8000/api/room/getRoomByUser/${this.$route.params.id}`, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          'Authorization': 'Bearer ' + localStorage.getItem('access_token'),
        },
      })
        .then((data) => {
          return data.json();
        })
        .then((data) => (this.rooms = data))
        .catch((e) => {
          console.error(e);
        });
      response.then((jsonData) => {
        console.log(jsonData.data);
      });
    },
  },
  mounted() {
    this.getRooms();
  },
};
</script>

<style>

</style>
