<template >

    <div class="row">

        <div class="col">
            <nav class="navbar" style="text-align: left;" bg-variant="primary">
                <div class="container-fluid">
                    <button style="background-color: white" class="navbar-toggler" type="button"
                        data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                        aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasNavbarLabel"> </h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="navbar-nav justify-content-start flex-grow-1 pe-3">
                                <li class="nav-item">
                                    <router-link to="/buildings" class="nav-link"
                                        aria-current="page">Edificios</router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link :to="{ name: 'rooms', params: { id: 1 } }" class="nav-link"
                                        aria-current="page">Habitaciones</router-link>
                                </li>
                                <li class="nav-item">
                                    <router-link to="/about" class="nav-link" aria-current="page">Acerca
                                        de</router-link>
                                </li>

                                <li class="nav-item">
                                    <b-button variant="danger" @click="logout">Cerrar sesión</b-button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </div>


    </div>






</template>

<script>
import router from '@/router';

export default {
    name: "MenuComponent",

    methods: {
        logout() {
            console.log("cerrar sesion");
            const response = fetch('http://127.0.0.1:8000/api/logout', {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('access_token'),
                }
            }).then(() => {
                localStorage.clear();
                this.$toast.success('Sesión cerrada, Vuelve pronto!',
                    {
                        position: "top",
                        max: 1
                    })
            }).catch((e) => {
                console.error('Hola' + e);
            })

            response.then(() => {

            }).catch((e) => {
                console.log(e);
            })

            router.push("/")
        },






    },

};
</script>

<style>

</style>